<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Can_Send.Source.Transmit.Transmit" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Can_Send.Source.BusParams.BusParams" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Can_Send.Transmit" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Can_Send.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LinAppl.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Can_Send.Source.Transmit.Transmit>
            <setting name="CtrlData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>000 8 00 00 00 00 00 00 00 00</string>
                        <string>000 8 00 00 00 00 00 00 00 00</string>
                        <string>000 8 00 00 00 00 00 00 00 00</string>
                        <string>000 8 00 00 00 00 00 00 00 00</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SaveFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </Can_Send.Source.Transmit.Transmit>
        <Can_Send.Source.BusParams.BusParams>
            <setting name="canSJW" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="canFreq" serializeAs="String">
                <value>500000</value>
            </setting>
        </Can_Send.Source.BusParams.BusParams>
        <Can_Send.Transmit>
            <setting name="CtrlData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SaveFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </Can_Send.Transmit>
        <Can_Send.Settings>
            <setting name="canSJW" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="canFreq" serializeAs="String">
                <value>500K</value>
            </setting>
            <setting name="CtrlData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                        <string>False 000 8 00 00 00 00 00 00 00 00 100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SaveFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </Can_Send.Settings>
        <LinAppl.Settings>
            <setting name="mainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mainCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainBaud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="slaveSchedulerData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Slave Scheduler</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="masterSchedulerData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Master Scheduler</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                        <string>False 000 0 00 00 00 00 00 00 00 00 010</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="schedulerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mainHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="mainschedulerSelect" serializeAs="String">
                <value>SlaveScheduler</value>
            </setting>
        </LinAppl.Settings>
    </userSettings>
</configuration>